.overlay {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    width: 660px;
}

.overlay:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.video-box {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    width: 660px;
}